.Company{
  height: 400px;
  flex-direction: row;
  display: flex;
}

.textcompany {
  width: 50%;
  flex-direction: column;
  height: 100%;
  padding: 40px 30px 20px 30px;
  justify-content: center;
  background-color: #f0f0f0;
  display: flex;
  text-align: center;
}

.textcompany .headline {
  padding: 10px 0;
  margin-bottom: 0;
  font-size: large;
  color: #1a4f76;

}

.textcompany .welcome-message {
  padding-bottom: 0;
  margin-top: 0;
  color: #01b0f0;
}

.textcompany .description {
  line-height: 1.6;
  color: #1a4f76;
}

.imageside{
  padding-top: 50px;
  max-width: 50%;
  height: 380px;
  justify-content: center;
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;

}

.Manager{
  max-height: 400px;
}
